@{
    ViewData["title"] = "addition";
    ViewData["sub"] = "substraction";
    WebApplicationdemo1.Controllers.calculator obj = new WebApplicationdemo1.Controllers.calculator();
    ViewData["result"] = obj.add(5, 6);
    ViewData["result2"] = obj.sub(10, 5);

}
<div>
    <h1>@ViewData["title"] = @ViewData["result"]</h1>
    <h1>@ViewData["sub"] = @ViewData["result2"]</h1>
</div>
